.achiev-ul8, .achiev-spam4, .achiev-spam3, .achiev-spam5, .achiev-adampnkr, 
.achiev-birthday, .achiev-gagged, .achiev-reqfiller5, .achiev-sheepfondler, .achiev-spam1, 
.achiev-spam2, .achiev-ul10, .achiev-ul6, .achiev-ul7, .achiev-ul9, 
.achiev-bonus7, .achiev-invite3, .achiev-120dayseed, .achiev-14dayseed, .achiev-200dayseed, 
.achiev-21dayseed, .achiev-28dayseed, .achiev-365dayseed, .achiev-45dayseed, .achiev-60dayseed, 
.achiev-7dayseed, .achiev-90dayseed, .achiev-bonus1, .achiev-bonus10, .achiev-bonus2, 
.achiev-bonus3, .achiev-bonus4, .achiev-bonus5, .achiev-bonus6, .achiev-bonus8, 
.achiev-bonus9, .achiev-christmas, .achiev-corrupt, .achiev-fpost3, .achiev-fpost4, 
.achiev-fpost5, .achiev-fpost6, .achiev-invite2, .achiev-piratesheep, .achiev-reqfiller3, 
.achiev-signature, .achiev-sticky1, .achiev-sticky2, .achiev-sticky3, .achiev-sticky4, 
.achiev-sticky5, .achiev-ul2, .achiev-virgin, .achiev-xmasdays, .achiev-birthday1, 
.achiev-birthday3, .achiev-birthday5, .achiev-fpost1, .achiev-fpost2, .achiev-invite1, 
.achiev-invite4, .achiev-invite5, .achiev-ul3, .achiev-ul4, .achiev-ul5, 
.achiev-reqfiller1, .achiev-bonus11, .achiev-reqfiller2, .achiev-birthday2, .achiev-birthday4, 
.achiev-ul1, .achiev-reqfiller4, .achiev-ftopic1, .achiev-ftopic2, .achiev-ftopic3, 
.achiev-ftopic4, .achiev-ftopic5
{ max-width: 100%; background-size: 100%; background-image: url('png.png'); }
 
.achiev-ul8 { background-position: 0 0%; background-size: 100%; }
.achiev-spam4 { background-position: 0 1.271995%; background-size: 105.263158%; }
.achiev-spam3 { background-position: 0 2.876481%; background-size: 116.27907%; }
.achiev-spam5 { background-position: 0 4.251269%; background-size: 120.481928%; }
.achiev-adampnkr { background-position: 0 5.628438%; background-size: 125%; }
.achiev-birthday { background-position: 0 7.034221%; background-size: 125%; }
.achiev-gagged { background-position: 0 8.313892%; background-size: 125%; }
.achiev-reqfiller5 { background-position: 0 9.970301%; background-size: 125%; }
.achiev-sheepfondler { background-position: 0 11.636287%; background-size: 125%; }
.achiev-spam1 { background-position: 0 13.251221%; background-size: 125%; }
.achiev-spam2 { background-position: 0 15.108835%; background-size: 125%; }
.achiev-ul10 { background-position: 0 17.277931%; background-size: 125%; }
.achiev-ul6 { background-position: 0 18.841193%; background-size: 125%; }
.achiev-ul7 { background-position: 0 20.194544%; background-size: 125%; }
.achiev-ul9 { background-position: 0 21.598135%; background-size: 133.333333%; }
.achiev-bonus7 { background-position: 0 22.997688%; background-size: 142.857143%; }
.achiev-invite3 { background-position: 0 23.749475%; background-size: 142.857143%; }
.achiev-120dayseed { background-position: 0 24.598818%; background-size: 166.666667%; }
.achiev-14dayseed { background-position: 0 25.97237%; background-size: 166.666667%; }
.achiev-200dayseed { background-position: 0 27.56734%; background-size: 166.666667%; }
.achiev-21dayseed { background-position: 0 28.484082%; background-size: 166.666667%; }
.achiev-28dayseed { background-position: 0 29.625714%; background-size: 166.666667%; }
.achiev-365dayseed { background-position: 0 30.868099%; background-size: 166.666667%; }
.achiev-45dayseed { background-position: 0 31.939163%; background-size: 166.666667%; }
.achiev-60dayseed { background-position: 0 33.178458%; background-size: 166.666667%; }
.achiev-7dayseed { background-position: 0 34.659574%; background-size: 166.666667%; }
.achiev-90dayseed { background-position: 0 36.390533%; background-size: 166.666667%; }
.achiev-bonus1 { background-position: 0 37.592241%; background-size: 166.666667%; }
.achiev-bonus10 { background-position: 0 38.711721%; background-size: 166.666667%; }
.achiev-bonus2 { background-position: 0 39.844079%; background-size: 166.666667%; }
.achiev-bonus3 { background-position: 0 40.98118%; background-size: 166.666667%; }
.achiev-bonus4 { background-position: 0 42.236287%; background-size: 166.666667%; }
.achiev-bonus5 { background-position: 0 43.226756%; background-size: 166.666667%; }
.achiev-bonus6 { background-position: 0 44.149273%; background-size: 166.666667%; }
.achiev-bonus8 { background-position: 0 45.203458%; background-size: 166.666667%; }
.achiev-bonus9 { background-position: 0 46.384778%; background-size: 166.666667%; }
.achiev-christmas { background-position: 0 47.676384%; background-size: 166.666667%; }
.achiev-corrupt { background-position: 0 48.902027%; background-size: 166.666667%; }
.achiev-fpost3 { background-position: 0 50.147929%; background-size: 166.666667%; }
.achiev-fpost4 { background-position: 0 51.393581%; background-size: 166.666667%; }
.achiev-fpost5 { background-position: 0 52.865025%; background-size: 166.666667%; }
.achiev-fpost6 { background-position: 0 54.341855%; background-size: 166.666667%; }
.achiev-invite2 { background-position: 0 55.550865%; background-size: 166.666667%; }
.achiev-piratesheep { background-position: 0 56.771604%; background-size: 166.666667%; }
.achiev-reqfiller3 { background-position: 0 58.285593%; background-size: 166.666667%; }
.achiev-signature { background-position: 0 59.792724%; background-size: 166.666667%; }
.achiev-sticky1 { background-position: 0 61.28417%; background-size: 166.666667%; }
.achiev-sticky2 { background-position: 0 62.865621%; background-size: 166.666667%; }
.achiev-sticky3 { background-position: 0 64.441619%; background-size: 166.666667%; }
.achiev-sticky4 { background-position: 0 66.079762%; background-size: 166.666667%; }
.achiev-sticky5 { background-position: 0 67.683831%; background-size: 166.666667%; }
.achiev-ul2 { background-position: 0 69.134758%; background-size: 166.666667%; }
.achiev-virgin { background-position: 0 70.44158%; background-size: 166.666667%; }
.achiev-xmasdays { background-position: 0 71.724429%; background-size: 166.666667%; }
.achiev-birthday1 { background-position: 0 73.152657%; background-size: 200%; }
.achiev-birthday3 { background-position: 0 74.367089%; background-size: 200%; }
.achiev-birthday5 { background-position: 0 75.501161%; background-size: 200%; }
.achiev-fpost1 { background-position: 0 76.689189%; background-size: 200%; }
.achiev-fpost2 { background-position: 0 77.761383%; background-size: 200%; }
.achiev-invite1 { background-position: 0 78.910703%; background-size: 200%; }
.achiev-invite4 { background-position: 0 79.991567%; background-size: 200%; }
.achiev-invite5 { background-position: 0 81.045752%; background-size: 200%; }
.achiev-ul3 { background-position: 0 82.099937%; background-size: 200%; }
.achiev-ul4 { background-position: 0 83.154122%; background-size: 200%; }
.achiev-ul5 { background-position: 0 84.208307%; background-size: 200%; }
.achiev-reqfiller1 { background-position: 0 85.80522%; background-size: 208.333333%; }
.achiev-bonus11 { background-position: 0 87.409919%; background-size: 222.222222%; }
.achiev-reqfiller2 { background-position: 0 89.093995%; background-size: 238.095238%; }
.achiev-birthday2 { background-position: 0 90.008414%; background-size: 250%; }
.achiev-birthday4 { background-position: 0 90.828776%; background-size: 250%; }
.achiev-ul1 { background-position: 0 91.978045%; background-size: 256.410256%; }
.achiev-reqfiller4 { background-position: 0 93.634628%; background-size: 333.333333%; }
.achiev-ftopic1 { background-position: 0 94.92922%; background-size: 384.615385%; }
.achiev-ftopic2 { background-position: 0 96.196915%; background-size: 400%; }
.achiev-ftopic3 { background-position: 0 97.46461%; background-size: 400%; }
.achiev-ftopic4 { background-position: 0 98.732305%; background-size: 400%; }
.achiev-ftopic5 { background-position: 0 100%; background-size: 400%; }