.ul8, .spam4, .spam3, .spam5, .adampnkr, 
.birthday, .gagged, .reqfiller5, .sheepfondler, .spam1, 
.spam2, .ul10, .ul6, .ul7, .ul9, 
.bonus7, .invite3, .img-120dayseed, .img-14dayseed, .img-200dayseed, 
.img-21dayseed, .img-28dayseed, .img-365dayseed, .img-45dayseed, .img-60dayseed, 
.img-7dayseed, .img-90dayseed, .bonus1, .bonus10, .bonus2, 
.bonus3, .bonus4, .bonus5, .bonus6, .bonus8, 
.bonus9, .christmas, .corrupt, .fpost3, .fpost4, 
.fpost5, .fpost6, .invite2, .piratesheep, .reqfiller3, 
.signature, .sticky1, .sticky2, .sticky3, .sticky4, 
.sticky5, .ul2, .virgin, .xmasdays, .birthday1, 
.birthday3, .birthday5, .fpost1, .fpost2, .invite1, 
.invite4, .invite5, .ul3, .ul4, .ul5, 
.reqfiller1, .bonus11, .reqfiller2, .birthday2, .birthday4, 
.ul1, .reqfiller4, .ftopic1, .ftopic2, .ftopic3, 
.ftopic4, .ftopic5
{ display: inline-block; background: url('images/achievements.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.ul8 { background-position: -0px -0px; width: 100px; height: 60px; }
.spam4 { background-position: -0px -60px; width: 95px; height: 76px; }
.spam3 { background-position: -0px -136px; width: 86px; height: 65px; }
.spam5 { background-position: -0px -201px; width: 83px; height: 65px; }
.adampnkr { background-position: -0px -266px; width: 80px; height: 67px; }
.birthday { background-position: -0px -333px; width: 80px; height: 59px; }
.gagged { background-position: -0px -392px; width: 80px; height: 78px; }
.reqfiller5 { background-position: -0px -470px; width: 80px; height: 79px; }
.sheepfondler { background-position: -0px -549px; width: 80px; height: 75px; }
.spam1 { background-position: -0px -624px; width: 80px; height: 84px; }
.spam2 { background-position: -0px -708px; width: 80px; height: 107px; }
.ul10 { background-position: -0px -815px; width: 80px; height: 76px; }
.ul6 { background-position: -0px -891px; width: 80px; height: 64px; }
.ul7 { background-position: -0px -955px; width: 80px; height: 64px; }
.ul9 { background-position: -0px -1019px; width: 75px; height: 75px; }
.bonus7 { background-position: -0px -1094px; width: 70px; height: 36px; }
.invite3 { background-position: -0px -1130px; width: 70px; height: 35px; }
.img-120dayseed { background-position: -0px -1165px; width: 60px; height: 57px; }
.img-14dayseed { background-position: -0px -1222px; width: 60px; height: 88px; }
.img-200dayseed { background-position: -0px -1310px; width: 60px; height: 41px; }
.img-21dayseed { background-position: -0px -1351px; width: 60px; height: 50px; }
.img-28dayseed { background-position: -0px -1401px; width: 60px; height: 64px; }
.img-365dayseed { background-position: -0px -1465px; width: 60px; height: 47px; }
.img-45dayseed { background-position: -0px -1512px; width: 60px; height: 59px; }
.img-60dayseed { background-position: -0px -1571px; width: 60px; height: 58px; }
.img-7dayseed { background-position: -0px -1629px; width: 60px; height: 93px; }
.img-90dayseed { background-position: -0px -1722px; width: 60px; height: 61px; }
.bonus1 { background-position: -0px -1783px; width: 60px; height: 50px; }
.bonus10 { background-position: -0px -1833px; width: 60px; height: 58px; }
.bonus2 { background-position: -0px -1891px; width: 60px; height: 47px; }
.bonus3 { background-position: -0px -1938px; width: 60px; height: 64px; }
.bonus4 { background-position: -0px -2002px; width: 60px; height: 53px; }
.bonus5 { background-position: -0px -2055px; width: 60px; height: 39px; }
.bonus6 { background-position: -0px -2094px; width: 60px; height: 50px; }
.bonus8 { background-position: -0px -2144px; width: 60px; height: 50px; }
.bonus9 { background-position: -0px -2194px; width: 60px; height: 63px; }
.christmas { background-position: -0px -2257px; width: 60px; height: 59px; }
.corrupt { background-position: -0px -2316px; width: 60px; height: 57px; }
.fpost3 { background-position: -0px -2373px; width: 60px; height: 61px; }
.fpost4 { background-position: -0px -2434px; width: 60px; height: 57px; }
.fpost5 { background-position: -0px -2491px; width: 60px; height: 81px; }
.fpost6 { background-position: -0px -2572px; width: 60px; height: 60px; }
.invite2 { background-position: -0px -2632px; width: 60px; height: 55px; }
.piratesheep { background-position: -0px -2687px; width: 60px; height: 60px; }
.reqfiller3 { background-position: -0px -2747px; width: 60px; height: 80px; }
.signature { background-position: -0px -2827px; width: 60px; height: 65px; }
.sticky1 { background-position: -0px -2892px; width: 60px; height: 74px; }
.sticky2 { background-position: -0px -2966px; width: 60px; height: 75px; }
.sticky3 { background-position: -0px -3041px; width: 60px; height: 74px; }
.sticky4 { background-position: -0px -3115px; width: 60px; height: 79px; }
.sticky5 { background-position: -0px -3194px; width: 60px; height: 74px; }
.ul2 { background-position: -0px -3268px; width: 60px; height: 66px; }
.virgin { background-position: -0px -3334px; width: 60px; height: 60px; }
.xmasdays { background-position: -0px -3394px; width: 60px; height: 61px; }
.birthday1 { background-position: -0px -3455px; width: 50px; height: 70px; }
.birthday3 { background-position: -50px -3455px; width: 50px; height: 53px; }
.birthday5 { background-position: -50px -3508px; width: 50px; height: 54px; }
.fpost1 { background-position: -0px -3525px; width: 50px; height: 57px; }
.fpost2 { background-position: -50px -3562px; width: 50px; height: 49px; }
.invite1 { background-position: -0px -3582px; width: 50px; height: 56px; }
.invite4 { background-position: -50px -3611px; width: 50px; height: 50px; }
.invite5 { background-position: -0px -3638px; width: 50px; height: 50px; }
.ul3 { background-position: -50px -3661px; width: 50px; height: 50px; }
.ul4 { background-position: -0px -3688px; width: 50px; height: 50px; }
.ul5 { background-position: -50px -3711px; width: 50px; height: 50px; }
.reqfiller1 { background-position: -0px -3738px; width: 48px; height: 80px; }
.bonus11 { background-position: -48px -3761px; width: 45px; height: 75px; }
.reqfiller2 { background-position: -0px -3818px; width: 42px; height: 80px; }
.birthday2 { background-position: -60px -1165px; width: 40px; height: 39px; }
.birthday4 { background-position: -60px -1204px; width: 40px; height: 39px; }
.ul1 { background-position: -60px -1243px; width: 39px; height: 56px; }
.reqfiller4 { background-position: -60px -1299px; width: 30px; height: 80px; }
.ftopic1 { background-position: -70px -1094px; width: 26px; height: 60px; }
.ftopic2 { background-position: -75px -1019px; width: 25px; height: 60px; }
.ftopic3 { background-position: -60px -1379px; width: 25px; height: 60px; }
.ftopic4 { background-position: -60px -1439px; width: 25px; height: 60px; }
.ftopic5 { background-position: -60px -1499px; width: 25px; height: 60px; }